body {
  background-color: blue;
  font-family: 'Raleway', sans-serif;
}

.quote {
  padding-top: 15px;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
.author {
  font-size: 16px;
  float: right;
  margin-right: 25%;
}

.btn {
  font-size: 20px;
  float: left;
  margin-bottom: 10px;
}

#credit{
  font-size: 8px;
  float: right;
  margin-right: 10%;
}
.twitter {
  margin-left: 10%;
}
#facebook {
  margin-left: 10px;
}
#new-quote {
  font-size: 16px;
  float:right;
  margin-right: 10%;
}

.quote-box {
  background-color: white;
  margin-top: 10%;
  text-align: center;
  border-radius: 0.25em;
  font-size: 20px;
}
